<style>body{background-image: url('https://images.unsplash.com/photo-1512418490979-92798cec1380?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')}</style>
<div class="card mt-3">
	<div class="card-header" style="background-color: #1460A5">
		<table width=100%>
		<tr>
		<td width=50%>
		<h4 style="color: lightgrey">Gifts</h4>
		</td>
		<td align=right>
		<button class="btn" data-toggle="modal" data-target="#myModal" style="background-color: #BFBFBF">Add Gift</button>
		</td>
		</tr>
		</table>
		<div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width:75%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Person</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <form  (ngSubmit) = "OnClickSubmit(addnew.value)">
                            <tbody>
                                <tr>
                                    <th>Gift Name</th>
                                    <td><input type="text" name="Gname" id="Gname"></td>
                                </tr>
                                <tr>
                                    <th>Category</th>
                                    <td><select name="Gcat" id="Gcat"><option value="-1" disabled>--select category--</option>
                  					<option value="">NONE</option>
                  					<option value="electronics">electronics</option>
                  					<option value="clothing">clothing</option>
                  					<option value="home decor">home decor</option>
                  					<option value="food">food</option>
                  					
                  					</select></td>
                                </tr>
                                
                                
                                <tr>
									<th>Price</th>
									 <td><input type="number" name="Price" id="Price"></td>
								</tr>
								 <tr>
                                    <th>Webpage</th>
                                    <td><select name="Ltype" id="Ltype"><option value="-1" disabled>--select webpage--</option>
                  					<option value="">NONE</option>
                  					<option value="Amazon">Amazon</option>
                  					<option value="Best Buy">Best Buy</option>
                  					<option value="Target">Target</option>
                  					<option value="Walmart">Walmart</option>
                  					
                  					</select></td>
                                </tr>
                                <tr>
                                
									<th>Link</th>
									 <td><textarea rows="2" cols="40" name="Glink" id="Glink"></textarea></td>
								</tr>

                            </tbody>
                        </table>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-success" value="submit" ng-click="addGift()" data-dismiss="modal">Add</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        
	</div>
	<div class="card-body">
		<table class="table table-hover">
			<thead class="thead-light">
				<tr>
					<th>Assigned</th>
					<th>Gift Name</th>
					<th>Gift Price</th>
					<th>Link</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gift in gifts" >
					<td><button class="btn" data-toggle="modal" data-target="#myModal2" style="background-color: #BFBFBF" value="{{gift.giftId}}" ng-click="giftPopUp(gift.giftId)">{{gift.assigned}}</button></td>
					<td>{{gift.giftName}}</td>
					<td>${{gift.price}}</td>
					<td><a href={{gift.link}}>{{gift.linkType}}</a></td>
					<td><button type="submit" class="btn btn-danger" value="submit" ng-click="deleteGift(gift.giftId)" style="font-size: 10px"> Remove</button></td>
				</tr>
			</tbody>
		</table>
		<div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog" style="width:75%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Assign Gift</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <form  (ngSubmit) = "OnClickSubmit(addnew.value)">
                            <tbody>
                                <tr>
                                    <th>Gift Name</th>
                                    <td><label Id="GnameAsgn"></label><input Id="GIdAssign" hidden></td>
                                </tr>
                                <tr>
       								<th>Price</th>
                                    <td><label Id="GpriceAsgn"></label></td>
								</tr>
								<tr>
       								<th colspan=2>Assigned
                                    <table width=100% class="table table-bordered" style="background-color: #BFBFBF">
                                    <tr>
                                     <th>Name</th>
                                     <th>Total Assigned</th>
                                    </tr>
                                    <tr ng-repeat="PGift in PGA">
                                    <td>{{PGift.personName}}&nbsp;{{PGift.personLastName}}</td>
                                    <td>{{PGift.totalAssignedGift}}</td>
                                    </tr>
                                    </table>
                                    </th>
								</tr>
								<tr>
                                    <th>Assign Person</th>
                                    <td><select name="GPSelect" id="GPSelect"><option value="-1" disabled>--select person--</option>
                  					<option value="">NONE</option>
                  					<option ng-repeat="person in people" value="{{person.personId}}">{{person.personName}}&nbsp;{{person.personLastName}}</option>
                  					</select></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer">
                        <button type="submit" class="btn btn-success" value="submit" ng-click="addAsign()" data-dismiss="modal">Assign</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>